<section data-ng-controller="StructuresController" data-ng-init="find()">
	<div class="page-header">
		<h1>Lists</h1>
	</div>
	<div class="list-group">
		<a data-ng-repeat="struct in structures | filter:filterLists" data-ng-href="#!/structures/{{struct._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="struct.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="struct.user.displayName"></span>
				for
				<span data-ng-bind="struct.organization"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="struct.title"></h4>
			<p class="list-group-item-text" data-ng-bind="struct.content"></p>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="structures.$resolved && !structures.length">
		No articles yet, why don't you <a href="/#!/structures/create">create one</a>?
	</div>
</section>
